$orange: #f8b195;
$pink: #f67280;
$fiolet: #c06c84;
$purp: #6c5b7b;
$blue: #355c7d;
$black: #363636;
$light-black: #474747;


body {
    background-color: $orange;
}

h1, h2, h3 {
    color: $black;
}
p{
    font-size: 30px;
    color: $light-black;
}